@import "styles/vars"
@import "styles/common"

main#address
    margin-bottom: 3rem
    @extend %responsiveContainer
    .address-container
        font-size: 0.8rem
        @include link-style($light-blue, orange)
        form
            .address-title
                margin: 1em 0
                font-size: 1.2em
            a.address-header
                font-size: 1.2em
                margin: 1em 0
                display: inline-block
                text-decoration: underline
            .input-item
                font-size: 1.2em
            .button-group
                display: flex
                button
                    border: none
                    margin-right: 1rem
                    padding: 0.5rem 1rem
                    color: white
                    &[type="submit"]
                        background-color: $light-blue
                    &:not([type="submit"])
                        background-color: black
        .text-item
            font-size: 1.2em
            margin: 0.5em -0.8em
        .edit-address-link
            text-align: right
            a
                font-size: 1.2em
                text-decoration: underline
