@import "styles/vars"
@import "styles/common"

main#detail
    @extend %responsiveContainer
    .image-container
        padding: 2rem 2rem
        @media screen and ( $sm )
            padding: 2rem 7rem
        @media screen and ( $md )
            padding: 0
        .image-content
            width: 100%
            border: 1px solid lightgrey
            .image-list
                border-right: 1px solid lightgrey
                padding: 0 0.5rem
                .arrow-item
                    &:first-of-type
                        height: 5%
                        padding-top: 0.5rem
                        text-align: center
                    &:last-of-type
                        height: 5%
                        padding-bottom: 0.5rem
                        text-align: center
                        display: flex
                        align-items: flex-end
                .image-list-container
                    height: 90%
                    .image-item
                        width: 100%
                        height: 20%
                        padding: 0.5rem 0
                        position: relative
                        &::before
                            content: ""
                            display: block
                            position: absolute
                            bottom: 0
                            left: 0
                            right: 0
                            width: 60%
                            margin: auto
                            height: 1.5px
                            background-color: lightgrey
                        &:last-child
                            margin-top: 5rem
                            &::before
                                content: none
                        input
                            display: none
                            &:checked + label.label-photo
                                border: 1px solid orange
                        img
                            width: 100%
                            padding: 0
                        label.label-photo
                            @extend %center-in-div
            .photo
                @extend %center-in-div
                img
                    width: 100%
    .info-container
        @media screen and ( $sm )
            padding: 0 7rem
        @media screen and ( $md )
            padding: 0
        .title
            font-size: 1.2rem
            letter-spacing: 0.1rem
        .price
            font-size: 2rem
            margin: 0.2rem 0
            color: orange
        .rate
            padding: 0.2rem 0
            color: grey
            border-top: 1px solid lightgrey
            border-bottom: 1px solid lightgrey
        .label
            margin: 1rem 0 0.5rem 0
            color: grey
        .color
            display: flex
            input
                display: none
                &:checked + label.label-color
                    border: 1px solid lightgrey
            .color-orange
                @extend %color-div
                &::before
                    background-color: orange
            .color-black
                @extend %color-div
                &::before
                    background-color: black
            .color-red
                @extend %color-div
                &::before
                    background-color: red
        select
            color: grey
            border-color: lightgrey
            padding: 0.1rem 0.2rem
            min-width: 7rem
            option
                &::before
                    content: ""
                    display: inline-block
                    padding: 0.1rem 0.2rem
        .number-qty
            display: flex
            button[type="button"]
                @extend %center-in-div
                padding: 0 0.5rem
                background-color: lightgrey
                border: none
            .number
                input
                    outline: none
                    border: 1px solid lightgrey
                    width: 5rem
                    padding: 0.2rem 0
                    text-align: center
                    &:focus
                        border: 1px solid grey
            button[type="submit"]
                padding: 0.1rem 0.8rem
                margin-left: 1rem
        .action
            display: flex
            margin: 1rem 0
            .action-item
                cursor: pointer
                &:hover
                    color: orange
                span
                    margin-right: 1rem
        p
            color: grey
            margin: 0.5rem 0
        .network
            display: flex
            .facebook
                @extend %social-network
                background-color: #3b5998
            .twitter
                @extend %social-network
                background-color: #1DA1F2
            .google
                @extend %social-network
                background-color: red
            .linkedin
                @extend %social-network
                background-color: #2867B2
    .info
        .tab
            .nav-link
                color: grey
                &[class~="active"]
                    background-color: orange
                    color: white
        .img
            img
                width: 100%
    .carousel
        margin-bottom: 3rem
        .carousel-item
            .item
                text-align: center
                img
                    width: 100%
                @include link-style(grey, orange)
                a.name
                    font-weight: bold
                .price
                    font-size: 1.1rem
                    margin: 1rem 0
                    .originPrice
                        color: orange
                    .salePrice
                        color: grey
                        text-decoration: line-through
                .buttonText
                    font-size: 0.8rem
                    margin: auto
