@import "styles/header"
@import "styles/footer"
@import "styles/vars"
@import "styles/common"

// Spacing
.pl-0
    padding-left: 0!important

.pr-0
    padding-right: 0!important

.pt-0
    padding-top: 0!important

.pb-0
    padding-bottom: 0!important

.ml-0
    margin-left: 0!important

.mr-0
    margin-right: 0!important

.mt-0
    margin-top: 0!important

.mb-0
    margin-bottom: 0!important

.buttonText
    @extend %button-text

.smallButtonText
    @extend %button-text
    padding: 0.2rem 0.5rem

.title-container
    text-align: center
    margin: 3rem 0
    .title
        @extend %title

.breadcrumb
    margin: 2rem 0
    .breadcrumb-item
        a
            text-decoration: none
            &:link, &:visited
                color: grey
            &:hover, &:active
                color: orange
        &[class~="active"]
            color: orange

.champagne-card
    text-align: center
    img
        width: 100%
    a.name
        text-decoration: none
        font-weight: bold
        &:link, &:visited
            color: grey
        &:hover, &:active
            color: orange
    .price
        font-size: 1.1rem
        margin: 1rem 0
        word-wrap: break-word
        .originPrice
            color: orange
        .salePrice
            font-size: 0.8rem
            color: grey
            span
                text-decoration: line-through
    .buttonText
        font-size: 0.8rem
        margin: auto

.blog-card
    margin-bottom: 1rem
    @include fit-image(60%)
    .img
        .icon
            display: flex
            justify-content: center
            align-items: center
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            transition-duration: 0.3s
            background-color: rgba(0, 0, 0, 0)
            color: white
            i.fa
                visibility: hidden
                font-size: 0
                transition-duration: 0.3s
            &:hover
                cursor: pointer
                background-color: rgba(0, 0, 0, 0.5)
                i.fa
                    visibility: visible
                    font-size: 1.5rem
    .title
        letter-spacing: 0.1rem
        margin: 0.5rem 0
        @include link-style(black, orange)
    .description
        font-size: 0.8rem
        color: grey
        margin-bottom: 0.5rem
    .content
    .more
        @extend %readMore

.tag-container
    display: flex
    flex-wrap: wrap
    .tag
        border: 1px solid lightgrey
        padding: 0.2rem 0.5rem
        margin: 0 0.5rem 0.8rem 0
        &[class~="active"]
            background-color: orange
            color: white

.input-item
    margin: 1rem 0
    .input-title
        span
            &:first-of-type
                font-style: italic
            &:last-of-type
                color: red
                margin-left: 0.2rem
    .input
        input, textarea
            outline: none
            border: 1px solid lightgrey
            padding: 0.2rem 0.5rem
            border-radius: 0.2rem
            width: 100%
            &:focus
                border: 1px solid grey
        textarea
            resize: none
