-
    const menues = [
        { name: "Tài khoản của tôi", link: "/my-account" },
        { name: "Trạng thái đơn hàng", link: "/list-order.html" },
        { name: "Danh sách ưa thích ", link: "/favorite-list" },
        { name: "Giỏ hàng", link: "/cart.html" },
        { name: "Đăng nhập", link: "/login.html" },
        { name: "Đăng ký", link: "/register.html" }
    ]
    const bottomMenues = [
        { name: "TRANG CHỦ", link: "/", active: false },
        { name: "RƯỢU VANG ĐỎ", link: "/red-wine", active: true },
        { name: "RƯỢU TRẮNG", link: "/white-wine", active: false },
        { name: "CHAMPAGNE", link: "/champagne", active: false },
        { name: "THÔNG TIN", link: "/introduction.html", active: false },
        { name: "BLOG", link: "/blog.html", active: false },
        { name: "LIÊN HỆ", link: "/contact", active: false }
    ]
    const redWineData = [
        { title: "RƯỢU NGOẠI", data: [
            { name: "Rượu Chivas", qty: 22, active: false },
            { name: "Johnnie Walker", qty: 12, active: true },
            { name: "Rượu Whiskey", qty: 272, active: false },
            { name: "Rượu Remy Martin", qty: 22, active: false },
            { name: "Rượu Glenmorangie", qty: 82, active: false }
        ] },
        { title: "RƯỢU VANG", data: [
            { name: "Rượu Chivas", qty: 22, active: false },
            { name: "Johnnie Walker", qty: 22, active: false },
            { name: "Rượu Whiskey", qty: 22, active: false },
            { name: "Rượu Remy Martin", qty: 22, active: false },
            { name: "Rượu Glenmorangie", qty: 22, active: false }
        ] },
        { title: "RƯỢU TRẤNG", data: [
            { name: "Rượu Chivas", qty: 22, active: false },
            { name: "Johnnie Walker", qty: 22, active: false },
            { name: "Rượu Whiskey", qty: 22, active: false },
            { name: "Rượu Remy Martin", qty: 22, active: false },
            { name: "Rượu Glenmorangie", qty: 22, active: false }
        ] }
    ]
    const champagnes = [
        { name: "RƯỢU VANG HUẾ", img: "1.jpg", originPrice: "400.000", salePrice: "350.000" },
        { name: "RƯỢU VANG ĐÀ LẠT", img: "2.jpg", originPrice: "450.000", salePrice: "300.000" },
        { name: "RƯỢU VANG HẢI PHÒNG", img: "3.jpg", originPrice: "300.000", salePrice: "250.000" },
        { name: "RƯỢU VANG HÀ TĨNH", img: "4.jpg", originPrice: "200.000", salePrice: "150.000" },
        { name: "RƯỢU VANG HUẾ", img: "5.jpg", originPrice: "400.000", salePrice: "350.000" },
        { name: "RƯỢU VANG ĐÀ LẠT", img: "6.jpg", originPrice: "450.000", salePrice: "300.000" },
        { name: "RƯỢU VANG HẢI PHÒNG", img: "7.jpg", originPrice: "300.000", salePrice: "250.000" },
        { name: "RƯỢU VANG HÀ TĨNH", img: "8.jpg", originPrice: "200.000", salePrice: "150.000" },
        { name: "RƯỢU VANG HUẾ", img: "9.jpg", originPrice: "400.000", salePrice: "350.000" },
        { name: "RƯỢU VANG ĐÀ LẠT", img: "10.jpg", originPrice: "450.000", salePrice: "300.000" },
        { name: "RƯỢU VANG HẢI PHÒNG", img: "11.jpg", originPrice: "300.000", salePrice: "250.000" },
        { name: "RƯỢU VANG HÀ TĨNH", img: "12.jpg", originPrice: "200.000", salePrice: "150.000" }
    ]
    const images = [
        { name: "47bb1d096966d29c98926a156318c767.jpg", alt: "champagne wine" },
        { name: "Depositphotos_3010981_original1.jpg", alt: "champagne wine" },
        { name: "Depositphotos_6971969_original-1240x698.jpg", alt: "champagne wine" },
        { name: "8bd367294fd54ff78565e6a73329e848.jpg", alt: "champagne wine" },
        { name: "Depositphotos_3010981_original1.jpg", alt: "champagne wine" },
        { name: "47bb1d096966d29c98926a156318c767.jpg", alt: "champagne wine" },
        { name: "8bd367294fd54ff78565e6a73329e848.jpg", alt: "champagne wine" },
        { name: "Depositphotos_6971969_original-1240x698.jpg", alt: "champagne wine" }
    ]
    const newses = [
        { 
            title: "VÀNG THĂNG LONG CLASSIC",
            postedBy: "Google",
            postedDate: "30/6/2015",
            commentQty: 60,
            img: "Depositphotos_3010981_original1.jpg",
            content: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been ..."
        },
        { 
            title: "VÀNG THĂNG LONG CLASSIC",
            postedBy: "Google",
            postedDate: "30/6/2015",
            commentQty: 60,
            img: "Depositphotos_6971969_original-1240x698.jpg",
            content: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's ..."
        }
    ]
    const productImgs = [
        { img: "1.jpg", name: "img1", alt: "wine champagne", active: true },
        { img: "2.jpg", name: "img2", alt: "wine champagne", active: false },
        { img: "3.jpg", name: "img3", alt: "wine champagne", active: false },
        { img: "4.jpg", name: "img4", alt: "wine champagne", active: false },
        { img: "5.jpg", name: "img5", alt: "wine champagne", active: false }
        ]
    const colors = [
        { name: "orange", active: true },
        { name: "black", active: false },
        { name: "red", active: false }
    ]
    const footerList = [
        { name: "THÔNG TIN", list: [
            { name: "VỀ CHÚNG TÔI", link: "/introduction.html"},
            { name: "GIAO HÀNG", link: "/" },
            { name: "CẢM NGHĨ", link: "/" },
            { name: "LƯU TRỮ", link: "/" },
            { name: "CHÍNH SÁCH RIÊNG TƯ", link: "/" }
        ] },
        { name: "MUA HÀNG", list: [
            { name: "VẬN CHUYỂN VÀ TRẢ HÀNG", link: "/" },
            { name: "MUA HÀNG AN TOÀN", link: "/" },
            { name: "VẬN QUỐC TẾ", link: "/" },
            { name: "LIÊN KẾT", link: "/" },
            { name: "DỊCH VỤ GIẢM GIÁ", link: "/" }
        ] }
    ]
    const footerIcons = [
        { name: "Twitter", icon: "twitter" },
        { name: "Google++", icon: "google-plus" },
        { name: "LinkedIn", icon: "linkedin" },
        { name: "Facebook", icon: "facebook" }
    ]
    const labels = [
        { name: "fello", img: "partner13.png" },
        { name: "cole", img: "partner14.png" },
        { name: "temona", img: "partner17.png" }
    ]
    const productDescriptions = [
        { name: "ĐẶC ĐIỂM NỔI BẬT", key: "highlight", info: "Rượu vang được biết đến là loại đồ uống có cồn tốt nhất được khuyên dùng. Trên thế giới có rất nhiều quốc gia sản xuất rượu vang nổi tiếng như: Pháp, Ý, Mỹ, Chile, Tây Ban Nha…Đồng thời có rất rất nhiều các loại rượu vang khác nhau. Vậy điểm nổi bật của các loại rượu vang là gì? Làm sao để sử dụng rượu vang một cách đúng điệu? Ngay bây giờ, Sành Vang  mời bạn cùng theo dõi bài viết dưới đây để có câu trả lời phù hợp nhất cho mình nhé." },
        { name: "THÔNG TIN SẢN PHẨM", key: "information", info: "Mỗi loại rượu vang trắng, rượu vang đỏ hay champagne đều có loại  ly uống vang phù hợp riêng biệt. Việc có nhiều hình dáng, kiểu ly uống rượu vang khác nhau thật ra đều mang một ngụ ý nhất định từ các nhà sản xuất ly uống vang chuyên nghiệp. Họ không ngừng nghiên cứu, sáng tạo, cải tiến sao cho sản xuất được ly rượu vang làm nổi bật tối đa màu sắc, vẻ đẹp, hương thơm, hay mùi vị của rượu vang khi dùng." },
        { name: "ĐÁNH GIÁ", key: "review", info: "Có nhiều người nhầm lẫn rằng rượu vang được bảo quản tốt hơn khi cho chai nằm thẳng đứng.  Tuy nhiên các chuyên gia về rượu đã nhận định rằng, cách bảo quản rượu vang tốt nhất chính là đặt chai rượu nằm ngang. Vì khi cho rượu tiếp xúc với phần nắp chai sẽ giúp phần nút gỗ luôn có độ ẩm. Nút chai không bị khô, không bị co lại thì không khí bên ngoài sẽ không vào được phía bên trong chai. Từ đó chất lượng của rượu cũng được giữ nguyên." }
    ]
    const tags = [
        { name: "Đồng hồ", active: true },
        { name: "Túi", active: false },
        { name: "Phụ kiện", active: false },
        { name: "Giày", active: false },
        { name: "Sandal", active: false },
        { name: "Áo sơ mi", active: false },
        { name: "Nước hoa", active: false },
        { name: "Trẻ em", active: false },
        { name: "Thời trang nữ", active: false }
    ]
    const listProducts = [
        { img: "1.jpg", name: "RƯỢU VANG ĐÀ LẠT", originPrice: "300.000", salePrice: "250.000" },
        { img: "2.jpg", name: "RƯỢU VANG ĐÀ LẠT", originPrice: "300.000", salePrice: "250.000" },
        { img: "3.jpg", name: "RƯỢU VANG ĐÀ LẠT", originPrice: "300.000", salePrice: "250.000" },
        { img: "4.jpg", name: "RƯỢU VANG ĐÀ LẠT", originPrice: "300.000", salePrice: "250.000" },
        { img: "5.jpg", name: "RƯỢU VANG ĐÀ LẠT", originPrice: "300.000", salePrice: "250.000" },
        { img: "6.jpg", name: "RƯỢU VANG ĐÀ LẠT", originPrice: "300.000", salePrice: "250.000" },
        { img: "7.jpg", name: "RƯỢU VANG ĐÀ LẠT", originPrice: "300.000", salePrice: "250.000" },
        { img: "8.jpg", name: "RƯỢU VANG ĐÀ LẠT", originPrice: "300.000", salePrice: "250.000" },
        { img: "9.jpg", name: "RƯỢU VANG ĐÀ LẠT", originPrice: "300.000", salePrice: "250.000" }
    ]
    const listListProducts = [
        { img: "9.jpg", name: "RƯỢU NHO NĂM 1987", price: "300.000", description: "Rượu vang được biết đến là loại đồ uống có cồn tốt nhất được khuyên dùng. Trên thế giới có rất nhiều quốc gia sản xuất rượu vang nổi tiếng như: Pháp, Ý, Mỹ, Chile, Tây Ban Nha." },
        { img: "10.jpg", name: "RƯỢU NHO NĂM 1987", price: "300.000", description: "Rượu vang được biết đến là loại đồ uống có cồn tốt nhất được khuyên dùng. Trên thế giới có rất nhiều quốc gia sản xuất rượu vang nổi tiếng như: Pháp, Ý, Mỹ, Chile, Tây Ban Nha." },
        { img: "11.jpg", name: "RƯỢU NHO NĂM 1987", price: "300.000", description: "Rượu vang được biết đến là loại đồ uống có cồn tốt nhất được khuyên dùng. Trên thế giới có rất nhiều quốc gia sản xuất rượu vang nổi tiếng như: Pháp, Ý, Mỹ, Chile, Tây Ban Nha." },
        { img: "12.jpg", name: "RƯỢU NHO NĂM 1987", price: "300.000", description: "Rượu vang được biết đến là loại đồ uống có cồn tốt nhất được khuyên dùng. Trên thế giới có rất nhiều quốc gia sản xuất rượu vang nổi tiếng như: Pháp, Ý, Mỹ, Chile, Tây Ban Nha." },
    ]
    const cartTableHeaders = [
        { name: "Ảnh", key: "img" },
        { name: "Tên sản phẩm", key: "name" },
        { name: "Giá", key: "price" },
        { name: "Số lượng", key: "quantity" },
        { name: "Tổng số", key: "total" }
    ]
    const cartData = [
        { name: "RƯỢU VANG ĐỎ", img: "1.jpg", price: "345.000", quantity: 2, total: "690.000" },
        { name: "HUMBUGER ĐỎ", img: "2.jpg", price: "345.000", quantity: 2, total: "690.000" },
        { name: "RƯỢU TRẮNG", img: "3.jpg", price: "345.000", quantity: 2, total: "690.000" },
        { name: "RƯỢU VANG ĐỎ", img: "4.jpg", price: "345.000", quantity: 2, total: "690.000" }
    ]
    const blogs = [
        {
            title: "VANG THĂNG LONG CLASSIC",
            img: "Depositphotos_6971969_original-1240x698.jpg",
            postedBy: "Google",
            postedDate: "30-6-2016",
            commentQty: 60,
            content: "Rượu vang được biết đến là loại đồ uống có cồn tốt nhất được khuyên dùng. Trên thế giới có rất nhiều quốc gia sản xuất rượu vang nổi tiếng như: Pháp, Ý, Mỹ, Chile, Tây Ban Nha…"
        },
        {
            title: "VANG THĂNG LONG CLASSIC",
            img: "Depositphotos_3010981_original1.jpg",
            postedBy: "Google",
            postedDate: "30-6-2016",
            commentQty: 60,
            content: "Rượu vang được biết đến là loại đồ uống có cồn tốt nhất được khuyên dùng. Trên thế giới có rất nhiều quốc gia sản xuất rượu vang nổi tiếng như: Pháp, Ý, Mỹ, Chile, Tây Ban Nha…"
        },
        {
            title: "VANG THĂNG LONG CLASSIC",
            img: "grapes.jpg",
            postedBy: "Google",
            postedDate: "30-6-2016",
            commentQty: 60,
            content: "Rượu vang được biết đến là loại đồ uống có cồn tốt nhất được khuyên dùng. Trên thế giới có rất nhiều quốc gia sản xuất rượu vang nổi tiếng như: Pháp, Ý, Mỹ, Chile, Tây Ban Nha…"
        },
        {
            title: "VANG THĂNG LONG CLASSIC",
            img: "Depositphotos_6971969_original-1240x698.jpg",
            postedBy: "Google",
            postedDate: "30-6-2016",
            commentQty: 60,
            content: "Rượu vang được biết đến là loại đồ uống có cồn tốt nhất được khuyên dùng. Trên thế giới có rất nhiều quốc gia sản xuất rượu vang nổi tiếng như: Pháp, Ý, Mỹ, Chile, Tây Ban Nha…"
        },
        {
            title: "VANG THĂNG LONG CLASSIC",
            img: "Depositphotos_3010981_original1.jpg",
            postedBy: "Google",
            postedDate: "30-6-2016",
            commentQty: 60,
            content: "Rượu vang được biết đến là loại đồ uống có cồn tốt nhất được khuyên dùng. Trên thế giới có rất nhiều quốc gia sản xuất rượu vang nổi tiếng như: Pháp, Ý, Mỹ, Chile, Tây Ban Nha…"
        },
        {
            title: "VANG THĂNG LONG CLASSIC",
            img: "grapes.jpg",
            postedBy: "Google",
            postedDate: "30-6-2016",
            commentQty: 60,
            content: "Rượu vang được biết đến là loại đồ uống có cồn tốt nhất được khuyên dùng. Trên thế giới có rất nhiều quốc gia sản xuất rượu vang nổi tiếng như: Pháp, Ý, Mỹ, Chile, Tây Ban Nha…"
        },
        {
            title: "VANG THĂNG LONG CLASSIC",
            img: "Depositphotos_6971969_original-1240x698.jpg",
            postedBy: "Google",
            postedDate: "30-6-2016",
            commentQty: 60,
            content: "Rượu vang được biết đến là loại đồ uống có cồn tốt nhất được khuyên dùng. Trên thế giới có rất nhiều quốc gia sản xuất rượu vang nổi tiếng như: Pháp, Ý, Mỹ, Chile, Tây Ban Nha…"
        },
        {
            title: "VANG THĂNG LONG CLASSIC",
            img: "Depositphotos_3010981_original1.jpg",
            postedBy: "Google",
            postedDate: "30-6-2016",
            commentQty: 60,
            content: "Rượu vang được biết đến là loại đồ uống có cồn tốt nhất được khuyên dùng. Trên thế giới có rất nhiều quốc gia sản xuất rượu vang nổi tiếng như: Pháp, Ý, Mỹ, Chile, Tây Ban Nha…"
        },
        {
            title: "VANG THĂNG LONG CLASSIC",
            img: "grapes.jpg",
            postedBy: "Google",
            postedDate: "30-6-2016",
            commentQty: 60,
            content: "Rượu vang được biết đến là loại đồ uống có cồn tốt nhất được khuyên dùng. Trên thế giới có rất nhiều quốc gia sản xuất rượu vang nổi tiếng như: Pháp, Ý, Mỹ, Chile, Tây Ban Nha…"
        }
    ]
    const newestPosts = [
        { name: "CÁCH SẮP XẾP NỘI THẤT TRONG NHÀ", date: "12/6/2015", img: "Depositphotos_3010981_original1.jpg" },
        { name: "CÁCH SẮP XẾP NỘI THẤT TRONG NHÀ", date: "12/6/2015", img: "grapes.jpg" },
        { name: "CÁCH SẮP XẾP NỘI THẤT TRONG NHÀ", date: "12/6/2015", img: "Depositphotos_3010981_original1.jpg" }
    ]
    const comments = [
        { author: "Giangle", sinceHour: 4, content: "Tuy nhiên các chuyên gia về rượu đã nhận định rằng, cách bảo quản rượu vang tốt nhất chính là đặt chai rượu nằm ngang." },
        { author: "TuanNguyen", sinceHour: 7, content: "Tuy nhiên các chuyên gia về rượu đã nhận định rằng, cách bảo quản rượu vang tốt nhất chính là đặt chai rượu nằm ngang." },
        { author: "Giangle", sinceHour: 4, content: "Tuy nhiên các chuyên gia về rượu đã nhận định rằng, cách bảo quản rượu vang tốt nhất chính là đặt chai rượu nằm ngang." }
    ]
    const orderStatuses = [
        { key: "CANCELLED", name: "Đã hủy" },
        { key: "NOT_APPLY", name: "Chưa duyệt" },
        { key: "APPLIED", name: "Đã duyệt" },
        { key: "PAID", name: "Đã thanh toán" },
        { key: "BOUGHT", name: "Đã mua hàng" },
        { key: "WAIT_DELIVER", name: "Chờ giao hàng" },
        { key: "FINISHED", name: "Đã kết thúc" }
    ]
    const listOrders = [
        { billCode: "LEANHGIANG89", buyDate: "17/6/2015", buyHour: "13:56", deliveredPos: "HÀ ĐÔNG", productQty: 7, total: "350.000", status: "CANCELLED" },
        { billCode: "LEANHGIANG89", buyDate: "17/6/2015", buyHour: "13:56", deliveredPos: "HÀ ĐÔNG", productQty: 7, total: "350.000", status: "WAIT_DELIVER" },
        { billCode: "LEANHGIANG89", buyDate: "17/6/2015", buyHour: "13:56", deliveredPos: "HÀ ĐÔNG", productQty: 7, total: "350.000", status: "PAID" },
        { billCode: "LEANHGIANG89", buyDate: "17/6/2015", buyHour: "13:56", deliveredPos: "HÀ ĐÔNG", productQty: 7, total: "350.000", status: "FINISHED" }
    ]
    const orderColData = [
        { name: "STT", key: "index" },
        { name: "MÃ HÓA ĐƠN/NGÀY MUA HÀNG", key: "code_and_date_order" },
        { name: "KHO NHẬN HÀNG", key: "deliveredPos" },
        { name: "SỐ SP", key: "productQty" },
        { name: "TỔNG TIỀN", key: "total" },
        { name: "TÌNH TRẠNG", key: "status" },
        { name: "THAO TÁC", key: "action" }
    ]
