@import "vars"
@import "common"

footer
    @extend %responsiveContainer
    .label
        .item
            padding: 2rem 2rem
            border-bottom: 1px solid lightgrey
            border-right: 1px solid lightgrey
            &:last-of-type
                border-right: none
            img
                width: 100%
                margin: auto
    .title
        letter-spacing: 0.2rem
        margin: 0.5rem 0
    .item
        font-size: 0.8rem
        @include link-style(grey, orange)
    .description
        margin: 0.2rem 0
        font-size: 0.8rem
    .input
        display: flex
        width: 100%
        input
            width: 80%
            padding: 0 0.5rem
            &::placeholder
                color: lightgrey
                font-style: italic
        .button
            width: 20%
            cursor: pointer
            background-color: black
            color: white
            padding: 0.1rem 0
            text-align: center
    .icons
        margin: 0.5rem 0
        color: grey
        i.fa
            cursor: pointer
            margin-right: 0.5rem
            &:hover
                color: orange
    .contact-item
        i.fa
            margin-right: 0.3rem
        span
            font-size: 0.8rem
    .copyright
        display: flex
        justify-content: space-between
        border-top: 1px solid lightgrey
        border-bottom: 1px solid lightgrey
        margin: 1rem 0
        padding: 0.5rem 0
        .banking
            display: flex
            justify-content: flex-end
            font-size: 1.5rem
            i.fa
                cursor: pointer
                margin-left: 0.5rem
                &:hover
                    color: orange
    .modal
        .modal-dialog
            .modal-content
                background-color: transparent
                border: none
                .modal-header
                    display: flex
                    justify-content: flex-end
                    padding: 0
                    border: none
                    background-color: transparent
                    button
                        border: none
                        background-color: transparent
                        color: white
                        font-size: 1.5rem
                .modal-body
                    padding: 0 2rem
                    .modal-container
                        background-color: white
                        .img
                            img
                                width: 100%
                        .content
                            display: flex
                            justify-content: center
                            align-items: center
                            .content-container
                                text-align: center
                                .title
                                    font-size: 1.8rem
                                    letter-spacing: 0.5rem
                                .tutorial
                                    color: grey
                                form
                                    .form-item
                                        display: flex
                                        input
                                            padding: 0.5rem 1rem
                                        input[type="text"]
                                            flex: 1
                                            border: none
                                            border-top: 1px solid lightgrey
                                            border-left: 1px solid lightgrey
                                            border-bottom: 1px solid lightgrey
                                            color: grey
                                            outline: none
                                        input[type="submit"]
                                            background-color: orange
                                            border: 1px solid orange
                                            color: white
                                            transition-duration: 0.3s
                                            &:hover
                                                background-color: #ee931b
