extend layouts/layout

block title
    title Blog

block content
    include partials/header
    main#blog.px-2.p-md-0
        +breadcrumb(["Trang chủ", "Blog"])
        +titleWithArrow("BLOG")
        .blog-container
            for blog in blogs
                .blog-card
                    +addBlog(blog)
    include partials/footer
