extend layouts/layout

block title
    title Giỏ hàng

block content
    include partials/header
    main#cart.px-2.p-md-0
        +progress(progressStatuses)
        +breadcrumb(["Trang chủ", "Sản phẩm", "Giỏ hàng"])
        +titleWithArrow("GIỎ HÀNG")
        .table-responsive
            table.table.table-bordered
                thead 
                    tr 
                        for hd in cartTableHeaders
                            th(scope="col")= hd.name
                        th(scope="col") Sửa
                        th(scope="col") Xóa
                tbody
        .cart-action.d-block.d-sm-flex
            a(href="/").buttonText TIẾP TỤC MUA HÀNG
            a(href="/address.html?payment=true").buttonText LỰA CHỌN ĐỊA CHỈ
    include partials/footer
    .toast-container.position-fixed.top-0.end-0.p-3

block module 
    script(type="module" src="./js/vars.js")
    script(type="module" src="./js/mixin.js")
    script(type="module" src="./js/apis.js")
    script(type="module" src="./js/cart.js")
