extend layouts/layout

block title
    title Giới thiệu

block content
    include partials/header
    main#introduction.px-2.p-md-0
        +breadcrumb(["Trang chủ", "Giới thiệu"])
        +titleWithArrow("GIỚI THIỆU")
        .container-fluid.p-0.my-5
            .intro.row.m-0
                .img.col-12.col-md-5.pl-0
                    img(src="./../assets/images/grapes.jpg" alt="green grapes")
                .text.col-12.col-md-7.pr-0
                    h3 CHÀO MỪNG ĐẾN VỚI WINE HORSE
                    p Giá trên Rượu tốt luôn là giá tốt nhất thị trường. Các Tổ chức, cá nhân cộng tác viên bán hàng, doanh nghiệp, đại lý mua hàng với số lượng lớn sẽ được ưu đãi giá tốt nhất.
                    p Rượu tốt giao hàng thanh toán tận nhà với khách hàng ở Hà Nội và TP. HCM trong thời gian nhanh nhất chưa tới 01 giờ. Các tỉnh khác liên hệ để được ship hàng tận nơi.
    include partials/footer
