extend layout

block title
    title Danh sách

block content
    include ./../partials/header
    main#list
        +breadcrumb(["Trang chủ", "Sản phẩm", "Rượu vang đỏ"])
        .container-fluid 
            .row 
                .left.col-12.col-md-3
                    +titleWithArrow("DANH MỤC SẢN PHẨM")
                    .all
                        a(href="") Chọn tất cả
                    ul.category-container
                    +titleWithArrow("SO SÁNH SẢN PHẨM")
                    .compare Bạn chưa có sản phẩm nào để so sánh
                    +titleWithArrow("TAG SẢN PHẨM")
                    +blogTags(tags)
                    .img 
                        img(src="./../assets/images/8bd367294fd54ff78565e6a73329e848.jpg" alt="")
                .right.col-12.col-md-9.my-3.my-md-0
                    .list-action
                        block displayType
                        .pagi 
                            i.fa.fa-caret-left
                            .pagi-page-container
                            i.fa.fa-caret-right
                    block listProduct
    include ./../partials/footer

    .toast-container.position-fixed.top-0.end-0.p-3
    
    .spinner
        .spinner-border.text-warning(role='status')
        span.visually-hidden Loading...

block module 
    script(type="module" src="./js/vars.js")
    script(type="module" src="./js/mixin.js")
    script(type="module" src="./js/apis.js")
    script(type="module" src="./js/list.js")
